multi_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/services"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/services">

    <!-- ===================================================== -->
    <!--  TYPES (Schemas)                                      -->
    <!-- ===================================================== -->
    <types>
        <xsd:schema targetNamespace="http://example.com/services">
            <xsd:element name="GetStatusRequest"/>
            <xsd:element name="GetStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- ===================================================== -->
    <!--  MESSAGES                                             -->
    <!-- ===================================================== -->
    <message name="GetStatusRequest">
        <part name="parameters" element="tns:GetStatusRequest"/>
    </message>

    <message name="GetStatusResponse">
        <part name="parameters" element="tns:GetStatusResponse"/>
    </message>

    <!-- ===================================================== -->
    <!--  PORT TYPES (Operations)                              -->
    <!-- ===================================================== -->
    <portType name="MultiServicePortType">

        <operation name="NodeAppStatus">
            <input message="tns:GetStatusRequest"/>
            <output message="tns:GetStatusResponse"/>
        </operation>

        <operation name="NodeServerStatus">
            <input message="tns:GetStatusRequest"/>
            <output message="tns:GetStatusResponse"/>
        </operation>

        <operation name="PythonDeliveryStatus">
            <input message="tns:GetStatusRequest"/>
            <output message="tns:GetStatusResponse"/>
        </operation>

        <operation name="PythonPublicTransportStatus">
            <input message="tns:GetStatusRequest"/>
            <output message="tns:GetStatusResponse"/>
        </operation>

        <operation name="FrontendStatus">
            <input message="tns:GetStatusRequest"/>
            <output message="tns:GetStatusResponse"/>
        </operation>

    </portType>

    <!-- ===================================================== -->
    <!--  BINDING (SOAP Protocol Binding)                      -->
    <!-- ===================================================== -->
    <binding name="MultiServiceSoapBinding" type="tns:MultiServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="NodeAppStatus">
            <soap:operation soapAction="GetNodeAppStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="NodeServerStatus">
            <soap:operation soapAction="GetNodeServerStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="PythonDeliveryStatus">
            <soap:operation soapAction="GetDeliveryStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="PythonPublicTransportStatus">
            <soap:operation soapAction="GetPublicTransportStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="FrontendStatus">
            <soap:operation soapAction="GetFrontendStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <!-- ===================================================== -->
    <!--  SERVICE (Actual Endpoints)                           -->
    <!-- ===================================================== -->
    <service name="MultiServiceStatusService">

        <port name="NodeAppPort" binding="tns:MultiServiceSoapBinding">
            <soap:address location="http://localhost:3000/status"/>
        </port>

        <port name="NodeServerPort" binding="tns:MultiServiceSoapBinding">
            <soap:address location="http://localhost:3001/status"/>
        </port>

        <port name="PythonDeliveryPort" binding="tns:MultiServiceSoapBinding">
            <soap:address location="http://localhost:8000/status"/>
        </port>

        <port name="PythonPublicTransportPort" binding="tns:MultiServiceSoapBinding">
            <soap:address location="http://localhost:4000/status"/>
        </port>

        <port name="FrontendPort" binding="tns:MultiServiceSoapBinding">
            <soap:address location="http://localhost:5173/status"/>
        </port>

    </service>

</definitions>
